<!DOCTYPE html>
<html lang="en">
<head>
  <title>Events</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.10/moment-timezone-with-data.js"></script>
  
  <script src="./js/common.js"></script>
</head>

<body>

    <div class="container">

    <h2>:: Appointment ::</h2>

    <div class="container">
        <form class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Date:</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" min id="date" placeholder="Enter date" name="date">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="timezone">Timezone</label>
              <div class="col-sm-10">          
                <select id="timezone" name="timezone" class="form-control">
                    
                </select>
              </div>
            </div>
        
            <button type="button" class="btn btn-info" id="getFreeSlots" name="getFreeSlots">Get Free Slots</button>

            <button type="button" class="btn btn-info" id="getEvents" name="getEvents">Get Scheduled Events</button>

            <button type="button" class="btn btn-primary" id="createEvent" name="createEvent">Create Event</button>
        
        </form>
    
    </div>

</div>

</body>

<script>

  var timezone = moment.tz.names();
  for (var i = 0; i < timezone.length; i++) {
    $('#timezone').append('<option value="' + timezone[i] + '">' + timezone[i] + '</option>');
  }

  $('#timezone').val("America/Los_Angeles")
</script>

</html>
